.App {
  text-align: center;
}
.hover-and-tooltip{
  position: relative;
}
.hover{
  margin: 50px 0 4px;
  cursor: pointer;
  display: inline-block;
}
.tooltip{
  background-color: black;
  color: white;
  padding: 10px;
  display: inline-block;
  border-radius: 7px;
  
}
.buttons{
  margin-top: 30px;
}
.buttons button{
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
}
.up{
  position: absolute;
  top: 7px;
  right: 42vw;
}
.bottom{
  position: absolute;
  top: 80px;
  right: 42vw;
}
.left{
  position: absolute;
  top: 42px;
  right: 54vw;
}
.right{
  position: absolute;
  top: 42px;
  right: 31vw;
}
