.App {
  text-align: center;
  width: 60vw;
  margin: 0 auto;
  min-width: 500px;
  border: 1px solid black;
}
.navbar{
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  position: relative;
}
.navbar button{
  background-color: aliceblue; 
  border-radius: 10px;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 2vw;
}
.navbar h1{
  display: inline-block;
}
.navbar button:hover{
  background-color: white
}


